extends layout

block content
  div(class="main")
    h1 Ouch! The mop is broken
    p Let us review this error and we will fix it as soon as possible.
    p Can someone clean this meanwhile?
    div.image
      img(src="/img/dirty.png", title="Maintenance", alt="Maintenance")
      p 
    div.bottom
      p.small Eloy Gonzalo 27, 2ยบ floor, 6th & 7th door