extends layout

block content
  div(class="main")
    h1 Nobody is cleaning right now
    p Vizziotica is currently down for maintenance.
    p Can someone clean this meanwhile?
    div.image
      img(src="/img/dirty.png", title="Maintenance", alt="Maintenance")
    div.bottom
      p.small Eloy Gonzalo 27, 2ยบ floor, 6th door